.nav-div {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 0;
  background-color: #fff;
  z-index: 1000;
  width: 15%;
  transition: background-color 0.3s ease;
}
.nav-div-box {
  height: 70px;
  border-bottom: 1px solid rgb(211, 209, 209);
 
  /* width: 100%; */
  /* background: blue; */
}
.nav-div-box-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 17px;
  gap: 1rem;
  font-weight: 500;
  justify-content: space-between;
  /* background: blue; */
  border: none;
  font-size: medium;
  background: none;
}
.nav-div-box-1:hover {
  background: rgb(216, 216, 216);
}
.nav1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 3rem; */
  /* font-size: ; */
  padding: 0px 7px;
  justify-content: space-between;
}
.nav-div-box-1-btn {
  border-radius: 100%;
  /* background: blue; */
  padding: 10px;
  border: none;
  background: none;
}
.nav-div-box-1-btn:hover{
    background: rgb(216, 216, 216);
}
.nav2 {
   display: flex;
   align-items: center;
}
.nav-button {
  display: flex;
  flex-direction: row;
  border: none;
  width: 100%;
  padding: 10px 20px;
  background: none;

}
.nav-button:hover{
    background-repeat: repeat-x;
    background: rgb(216, 216, 216);
}
/* .nav-div.nav-button-active {
    background-color: blue; 
  } */