.password-main{
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    margin-left: 10rem;
    margin-right: 10rem;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    padding: 2rem;
    gap: 1rem;
   
}